{"version":3,"sources":["index.css"],"names":[],"mappings":"AAAA;EACE,iDAAiD;CAClD;AACD;EACE,0BAA0B;CAC3B;AACD;;;EAGE,0BAA0B;EAC1B,iBAAiB;EACjB,eAAe;CAChB;AACD;EACE;;;IAGE,eAAe;GAChB;CACF;AACD;EACE;;;IAGE,eAAe;GAChB;CACF;AACD;;EAEE,iBAAiB;CAClB;AACD;EACE,cAAc;CACf;AACD;;;EAGE,eAAe;EACf,sBAAsB;CACvB;AACD;;;EAGE,YAAY;EACZ,iBAAiB;EACjB,gDAAgD;EAChD,sCAAsC;CACvC;AACD;EACE;;;IAGE,iBAAiB;GAClB;CACF;AACD;EACE;;;IAGE,iBAAiB;GAClB;CACF;AACD;EACE,sBAAsB;EACtB,iCAAiC;CAClC;AACD;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;EAiFE,UAAU;EACV,WAAW;EACX,UAAU;EACV,gBAAgB;EAChB,cAAc;EACd,yBAAyB;CAC1B;AACD;;;;;;;;;;;EAWE,eAAe;CAChB;AACD;EACE,eAAe;CAChB;AACD;;EAEE,iBAAiB;CAClB;AACD;;EAEE,aAAa;CACd;AACD;;;;EAIE,YAAY;EACZ,cAAc;CACf;AACD;EACE,0BAA0B;EAC1B,kBAAkB;CACnB;AACD;EACE,uBAAuB;CACxB;AACD;EACE;IACE,kBAAkB;GACnB;CACF;AACD;EACE;IACE,+CAAiB;IACjB,uFAAiB;GAClB;EAHD;IACE,YAAiB;IAAjB,mBAAiB;IAAjB,YAAiB;GAElB;EAHD;IACE,gBAAiB;GAElB;EAHD;IACE,gBAAiB;IAAjB,aAAiB;GAElB;EAHD;IACE,YAAiB;GAElB;CACF;AACD;EACE,uBAAuB;EACvB,iBAAiB;CAClB;AACD;EACE,8BAA8B;CAC/B;AACD;EACE,YAAY;EACZ,0BAA0B;EAC1B,UAAU;EACV,iBAAiB;EACjB,WAAW;EACX,WAAW;EACX,gBAAgB;EAChB,sCAAsC;EACtC,2CAA2C;EAC3C,mDAAmD;CACpD;AACD;EACE,UAAU;EACV,WAAW;CACZ;AACD;EACE,YAAY;EACZ,eAAe;EACf,sCAAsC;EACtC,YAAY;EACZ,mBAAmB;EACnB,+CAAuC;EAAvC,uCAAuC;EAAvC,2EAAuC;CACxC;AACD;EACE,YAAY;EACZ,eAAe;EACf,sCAAsC;EACtC,YAAY;EACZ,mBAAmB;EACnB,+CAAuC;EAAvC,uCAAuC;EAAvC,2EAAuC;CACxC;AACD;EACE,qCAAqC;EACrC,2CAA2C;CAC5C;AACD;EACE,mEAA2D;UAA3D,2DAA2D;EAC3D,+CAAuC;EAAvC,uCAAuC;EAAvC,2EAAuC;CACxC;AACD;EACE,mEAA2D;UAA3D,2DAA2D;EAC3D,+CAAuC;EAAvC,uCAAuC;EAAvC,2EAAuC;CACxC;AACD;EACE,iBAAiB;EACjB,cAAc;EACd,mBAAmB;EACnB,mCAAmC;CACpC;AACD;EACE,yBAAyB;CAC1B;AACD;EACE,kBAAkB;EAClB,oBAAoB;EACpB,mCAAmC;CACpC;AACD;EACE,gBAAgB;CACjB;AACD;EACE,UAAU;EACV,WAAW;CACZ;AACD;EACE,iBAAiB;EACjB,gBAAgB;EAChB,eAAe;CAChB;AACD;EACE,sBAAsB;CACvB;AACD;EACE,2BAA2B;CAC5B;AACD;;;;;EAKE,oCAAoC;EACpC,cAAc;CACf;AACD;EACE,0BAA0B;CAC3B;AACD;EACE,qBAAqB;CACtB;AACD;EACE,aAAa;CACd;AACD;EACE,iBAAiB;EACjB,uBAAuB;EACvB,aAAa;EACb,uBAAuB;CACxB;AACD;EACE,oBAAoB;EACpB,eAAe;CAChB;AACD;;EAEE,aAAa;EACb,uBAAuB;CACxB;AACD;;EAEE,aAAa;EACb,eAAe;CAChB;AACD;;EAEE,oBAAoB;EACpB,uBAAuB;EACvB,eAAe;CAChB;AACD;;EAEE,oBAAoB;EACpB,oBAAoB;CACrB;AACD;EACE,oBAAoB;EACpB,eAAe;CAChB;AACD;EACE,0BAA0B;CAC3B;AACD;EACE,mBAAmB;CACpB;AACD;EACE,WAAW;EACX,mBAAmB;EACnB,iBAAiB;CAClB;AACD;EACE,iBAAiB;EACjB,iBAAiB;EACjB,eAAe;EACf,wBAAwB;EACxB,8BAA8B;CAC/B;AACD;EACE,YAAY;EACZ,kBAAkB;CACnB;AACD;EACE,sBAAsB;EACtB,qBAAqB;EACrB,sBAAsB;CACvB;AACD;EACE,mBAAmB;EACnB,OAAO;EACP,cAAc;CACf;AACD;EACE,eAAe;EACf,kBAAkB;EAClB,0BAA0B;EAC1B,iBAAiB;EACjB,gBAAgB;EAChB,mBAAmB;CACpB;AACD,0CAA0C;AAC1C;EACE,oBAAoB;CACrB;AACD;EACE,OAAO;EACP,oBAAoB;CACrB;AACD;EACE,eAAe;CAChB","file":"index.css","sourcesContent":[".clear {\n  background-color: rgba(255,255,255,0) !important;\n}\n@font-face {\n  font-family: 'Montserrat';\n}\nhtml body main *,\nhtml body header *,\nhtml body footer * {\n  font-family: 'Montserrat';\n  font-weight: 400;\n  font-size: 4vw;\n}\n@media only screen and (min-width: 600px) {\n  html body main *,\n  html body header *,\n  html body footer * {\n    font-size: 3vw;\n  }\n}\n@media only screen and (min-width: 900px) {\n  html body main *,\n  html body header *,\n  html body footer * {\n    font-size: 2vw;\n  }\n}\nhtml body header *,\nhtml body footer * {\n  font-weight: 500;\n}\nbody p {\n  margin: 1em 0;\n}\na,\na:link,\na:visited {\n  color: inherit;\n  text-decoration: none;\n}\n.tabs a,\n.tabs a:link,\n.tabs a:visited {\n  color: #fff;\n  font-size: 2.7vw;\n  border-bottom: 0.75px solid rgba(255,255,255,0);\n  transition: border-color 0.2s ease-in;\n}\n@media only screen and (min-width: 600px) {\n  .tabs a,\n  .tabs a:link,\n  .tabs a:visited {\n    font-size: 1.7vw;\n  }\n}\n@media only screen and (min-width: 900px) {\n  .tabs a,\n  .tabs a:link,\n  .tabs a:visited {\n    font-size: 1.1vw;\n  }\n}\n.tabs a:hover {\n  text-decoration: none;\n  border-bottom: 0.75px solid #fff;\n}\nhtml,\nbody,\ndiv,\nspan,\napplet,\nobject,\niframe,\nh1,\nh2,\nh3,\nh4,\nh5,\nh6,\np,\nblockquote,\npre,\na,\nabbr,\nacronym,\naddress,\nbig,\ncite,\ncode,\ndel,\ndfn,\nem,\nimg,\nins,\nkbd,\nq,\ns,\nsamp,\nsmall,\nstrike,\nstrong,\nsub,\nsup,\ntt,\nvar,\nb,\nu,\ni,\ncenter,\ndl,\ndt,\ndd,\nol,\nul,\nli,\nfieldset,\nform,\nlabel,\nlegend,\ntable,\ncaption,\ntbody,\ntfoot,\nthead,\ntr,\nth,\ntd,\narticle,\naside,\ncanvas,\ndetails,\nembed,\nfigure,\nfigcaption,\nfooter,\nheader,\nhgroup,\nmenu,\nnav,\noutput,\nruby,\nsection,\nsummary,\ntime,\nmark,\naudio,\nvideo {\n  margin: 0;\n  padding: 0;\n  border: 0;\n  font-size: 100%;\n  font: inherit;\n  vertical-align: baseline;\n}\narticle,\naside,\ndetails,\nfigcaption,\nfigure,\nfooter,\nheader,\nhgroup,\nmenu,\nnav,\nsection {\n  display: block;\n}\nbody {\n  line-height: 1;\n}\nol,\nul {\n  list-style: none;\n}\nblockquote,\nq {\n  quotes: none;\n}\nblockquote:before,\nblockquote:after,\nq:before,\nq:after {\n  content: '';\n  content: none;\n}\ntable {\n  border-collapse: collapse;\n  border-spacing: 0;\n}\n* {\n  box-sizing: border-box;\n}\n@media only screen and (min-width: 900px) {\n  body {\n    margin-top: 100px;\n  }\n}\n@media only screen and (min-width: 900px) {\n  .layout-container {\n    lost-column: 2/3;\n    lost-offset: 1/6;\n  }\n}\n.layout-container > * {\n  border: 1px solid #ccc;\n  border-bottom: 0;\n}\n.layout-container > *:last-child {\n  border-bottom: 1px solid #ccc;\n}\n.burger {\n  width: 22px;\n  display: block !important;\n  border: 0;\n  background: none;\n  outline: 0;\n  padding: 0;\n  cursor: pointer;\n  border-bottom: 3px solid currentColor;\n  transition: border-bottom 0.2s ease-in-out;\n  -webkit-transition: border-bottom 0.2s ease-in-out;\n}\n.burger::-moz-focus-inner {\n  border: 0;\n  padding: 0;\n}\n.burger:before {\n  content: \"\";\n  display: block;\n  border-bottom: 3px solid currentColor;\n  width: 100%;\n  margin-bottom: 5px;\n  transition: transform 0.2s ease-in-out;\n}\n.burger:after {\n  content: \"\";\n  display: block;\n  border-bottom: 3px solid currentColor;\n  width: 100%;\n  margin-bottom: 5px;\n  transition: transform 0.2s ease-in-out;\n}\n.burger-check:checked ~ .burger {\n  border-bottom: 3px solid transparent;\n  transition: border-bottom 0.2s ease-in-out;\n}\n.burger-check:checked ~ .burger:before {\n  transform: rotate(-45deg) translateY(3px) translateX(-5px);\n  transition: transform 0.2s ease-in-out;\n}\n.burger-check:checked ~ .burger:after {\n  transform: rotate(45deg) translateY(-1px) translateX(-3px);\n  transition: transform 0.2s ease-in-out;\n}\n.dropdown-target {\n  overflow: hidden;\n  max-height: 0;\n  visibility: hidden;\n  transition: max-height 1s ease-out;\n}\n.burger-check {\n  display: none !important;\n}\n.burger-check:checked ~ .dropdown-target {\n  max-height: 500px;\n  visibility: inherit;\n  transition: max-height 1s ease-out;\n}\nsmall {\n  font-size: 14px;\n}\nul {\n  margin: 0;\n  padding: 0;\n}\nli {\n  list-style: none;\n  font-size: 25px;\n  padding: 5px 0;\n}\nli a {\n  text-decoration: none;\n}\nli a:hover {\n  text-decoration: underline;\n}\nbody .button,\nbody button,\nbody input[type='button'],\nbody input[type='reset'],\nbody input[type='submit'] {\n  background-color: rgba(255,0,0,0.5);\n  border: unset;\n}\nmain {\n  padding: 15px 15px 0 15px;\n}\nmain > * > * {\n  padding-bottom: 15px;\n}\n.dropdown-menu label {\n  float: right;\n}\n.dropdown-menu nav {\n  margin-top: 25px;\n  background-color: #fff;\n  padding: 5px;\n  border: 1px solid #ddd;\n}\n.dropdown-menu nav > ul > li {\n  padding-bottom: 3px;\n  display: block;\n}\nheader img,\nfooter img {\n  height: 35px;\n  vertical-align: middle;\n}\nheader .region,\nfooter .region {\n  height: 50px;\n  display: table;\n}\nheader .region > *,\nfooter .region > * {\n  display: table-cell;\n  vertical-align: middle;\n  padding: 0 5px;\n}\nheader .region > * > *,\nfooter .region > * > * {\n  display: table-cell;\n  vertical-align: top;\n}\nnav ul li {\n  display: table-cell;\n  padding: 0 5px;\n}\n.dropdown-target {\n  display: block !important;\n}\nheader {\n  position: relative;\n}\nheader .dropdown-menu {\n  right: 3px;\n  position: absolute;\n  margin-top: 15px;\n}\n.tabs {\n  list-style: none;\n  text-align: left;\n  display: block;\n  box-sizing: content-box;\n  border-bottom: 1px solid #ccc;\n}\n.tabs * {\n  color: #fff;\n  font-size: 0.9rem;\n}\n.tabs li {\n  display: inline-block;\n  margin: 0 !important;\n  padding: 0 !important;\n}\n.tabs input[type=\"radio\"] {\n  position: absolute;\n  top: 0;\n  left: -9999px;\n}\n.tabs label {\n  display: block;\n  padding: 4px 11px;\n  text-transform: uppercase;\n  background: #ccc;\n  cursor: pointer;\n  position: relative;\n}\n@include transition(all 0.2s ease-in-out);\n.tabs label:hover {\n  background: #b3b3b3;\n}\n.tabs [id^=\"tab\"]:checked + label {\n  top: 0;\n  background: #a6a6a6;\n}\n.tabs [id^=\"tab\"]:checked ~ [id^=\"tab-content\"] {\n  display: block;\n}\n"]}
.clear {
  background-color: rgba(255,255,255,0) !important;
}
@font-face {
  font-family: 'Montserrat';
}
html body main *,
html body header *,
html body footer * {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 4vw;
}
@media only screen and (min-width: 600px) {
  html body main *,
  html body header *,
  html body footer * {
    font-size: 3vw;
  }
}
@media only screen and (min-width: 900px) {
  html body main *,
  html body header *,
  html body footer * {
    font-size: 2vw;
  }
}
html body header *,
html body footer * {
  font-weight: 500;
}
body p {
  margin: 1em 0;
}
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
.tabs a,
.tabs a:link,
.tabs a:visited {
  color: #fff;
  font-size: 2.7vw;
  border-bottom: 0.75px solid rgba(255,255,255,0);
  transition: border-color 0.2s ease-in;
}
@media only screen and (min-width: 600px) {
  .tabs a,
  .tabs a:link,
  .tabs a:visited {
    font-size: 1.7vw;
  }
}
@media only screen and (min-width: 900px) {
  .tabs a,
  .tabs a:link,
  .tabs a:visited {
    font-size: 1.1vw;
  }
}
.tabs a:hover {
  text-decoration: none;
  border-bottom: 0.75px solid #fff;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
@media only screen and (min-width: 900px) {
  body {
    margin-top: 100px;
  }
}
@media only screen and (min-width: 900px) {
  .layout-container {
    width: calc(99.9% * 2/3 - (30px - 30px * 2/3));
    margin-left: calc(99.9% * (-1/6 * -1) - (30px - 30px * (-1/6 * -1)) + 30px) !important;
  }
  .layout-container:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .layout-container:last-child {
    margin-right: 0;
  }
  .layout-container:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .layout-container:nth-child(3n + 1) {
    clear: both;
  }
}
.layout-container > * {
  border: 1px solid #ccc;
  border-bottom: 0;
}
.layout-container > *:last-child {
  border-bottom: 1px solid #ccc;
}
.burger {
  width: 22px;
  display: block !important;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 3px solid currentColor;
  transition: border-bottom 0.2s ease-in-out;
  -webkit-transition: border-bottom 0.2s ease-in-out;
}
.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.burger:before {
  content: "";
  display: block;
  border-bottom: 3px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.burger:after {
  content: "";
  display: block;
  border-bottom: 3px solid currentColor;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.burger-check:checked ~ .burger {
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}
.burger-check:checked ~ .burger:before {
  -webkit-transform: rotate(-45deg) translateY(3px) translateX(-5px);
          transform: rotate(-45deg) translateY(3px) translateX(-5px);
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.burger-check:checked ~ .burger:after {
  -webkit-transform: rotate(45deg) translateY(-1px) translateX(-3px);
          transform: rotate(45deg) translateY(-1px) translateX(-3px);
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.dropdown-target {
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
  transition: max-height 1s ease-out;
}
.burger-check {
  display: none !important;
}
.burger-check:checked ~ .dropdown-target {
  max-height: 500px;
  visibility: inherit;
  transition: max-height 1s ease-out;
}
small {
  font-size: 14px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  font-size: 25px;
  padding: 5px 0;
}
li a {
  text-decoration: none;
}
li a:hover {
  text-decoration: underline;
}
body .button,
body button,
body input[type='button'],
body input[type='reset'],
body input[type='submit'] {
  background-color: rgba(255,0,0,0.5);
  border: unset;
}
main {
  padding: 15px 15px 0 15px;
}
main > * > * {
  padding-bottom: 15px;
}
.dropdown-menu label {
  float: right;
}
.dropdown-menu nav {
  margin-top: 25px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
}
.dropdown-menu nav > ul > li {
  padding-bottom: 3px;
  display: block;
}
header img,
footer img {
  height: 35px;
  vertical-align: middle;
}
header .region,
footer .region {
  height: 50px;
  display: table;
}
header .region > *,
footer .region > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
}
header .region > * > *,
footer .region > * > * {
  display: table-cell;
  vertical-align: top;
}
nav ul li {
  display: table-cell;
  padding: 0 5px;
}
.dropdown-target {
  display: block !important;
}
header {
  position: relative;
}
header .dropdown-menu {
  right: 3px;
  position: absolute;
  margin-top: 15px;
}
.tabs {
  list-style: none;
  text-align: left;
  display: block;
  box-sizing: content-box;
  border-bottom: 1px solid #ccc;
}
.tabs * {
  color: #fff;
  font-size: 0.9rem;
}
.tabs li {
  display: inline-block;
  margin: 0 !important;
  padding: 0 !important;
}
.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 4px 11px;
  text-transform: uppercase;
  background: #ccc;
  cursor: pointer;
  position: relative;
}
@include transition(all 0.2s ease-in-out);
.tabs label:hover {
  background: #b3b3b3;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  background: #a6a6a6;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/*# sourceMappingURL=index.css.map */
