// Workout Form
.node-workout-form
  .tabledrag-toggle-weight-wrapper
    display none
  .display-settings
    border 1px solid COLOR_GREY
  .field--name-field-action-sets
    .paragraph-type-title
      color transparent
    label
      lost-column 1/6
    input
      lost-column 5/6

