.dropdown-menu
  label
    float right
  nav
    margin-top 25px
    background-color white
    padding 5px
    border 1px solid #ddd
    > ul
      > li
        padding-bottom 3px
        display: block
