+below(2)
  .dropdown-menu
    display none !important
+above(2)
  .dropdown-menu
    display unset



// +below(2)
//   .dropdown-menu
//     display none !important
// +above(2)
//   .dropdown-menu
//     display unset
//   .mobile-menu.off-canvas-menu
//     display none

// .mobile-menu.off-canvas-menu
//   display:  none

// this element is used to 'canvas' the page content when the off-canvas menu is active.
#off-canvas-menu-pseudo-canvas
  position fixed
  top 0
  left 0
  height: 100%
  width: 100%
  z-index 1
  z-index -1
  background-color rgba(white, 0.95);
  opacity 0
  display none;
.off-canvas-menu
  position fixed
  top 110px
  right 0
  z-index: 2
  img
    top 0
    right 0
    margin 25px 25px 0 0
    position fixed
    display block
    cursor pointer
    height 40px
    width 40px

  > ul
    // top 0
    padding 0 25px 25px 10px
    clear both
    position relative
    display inline-block
    float right
    li
      display: block
      text-align: right
    > li
      margin-top 10px
      > a
        font-size 53px
        line-height: 70px
        &.is-active
          text-decoration: none
      > ul
        > li
          > a
            font-size 42px
            line-height: 54px