+below(2)
  .dropdown-menu
    display none !important
+above(2)
  .dropdown-menu
    display unset



// +below(2)
//   .dropdown-menu
//     display none !important
// +above(2)
//   .dropdown-menu
//     display unset
//   .mobile-menu.off-canvas-menu
//     display none

// .mobile-menu.off-canvas-menu
//   display:  none

#off-canvas-menu-pseudo-canvas
  position fixed
  top 0
  left 0
  height: 100%
  width: 100%
  z-index 1
  z-index -1
  background-color rgba(white, 0.8);
  opacity 0
.offcanvas-menu
  position fixed
  top 110px
  right 0
  z-index: 2
  img
    top 50px
    right 50px
    position fixed
    display block
    cursor pointer
  > ul
    // top 0
    padding 0 50px 50px 10px
    background: rgba(COLOR_BLACK 0.9)
    clear both
    position relative
    display inline-block
    float right
    li
      display: block