+below(2)
  #block-mainnavigation.main-menu
    display none !important
  .off-canvas-menu.main-menu
    display block !important
+above(2)
  #block-mainnavigation.main-menu
    display unset
  .off-canvas-menu.main-menu
    display none
