.message-list
  position relative
  .message-type
    font-size 75%
    padding 20px
    border-radius 10px
    margin-bottom 20px
    ul
    ul  li:last-child
      margin 0
    &__status
      background-color rgba(COLOR_BEIGE, 0.7)
      color COLOR_GREY_DARK
    &__error
      background-color rgba(COLOR_WARNING, 0.7)
      color COLOR_GREY_LIGHT
    .placeholder
      *
        text-decoration: underline
  .backtrace
    color COLOR_BLACK
    padding 10px