Height = 50px

header
footer
  img
    height 35px
    vertical-align: middle
  .region
    height Height
    display: table

header
  position relative
  #block-mainnavigation.main-menu
    position: absolute
    z-index 1
    right 0
    &[dropdown-active="1"]
      z-index 2
    > ul
      display table
      > li
        display table-cell
        padding 0 10px

nav
  ul
    li
      a
        &:hover
          // border-bottom 1px solid black
          text-decoration: underline

  &.dropdown-menu
    > ul
      > li
        > ul
        > ul  >li
          // opacity 0
        > ul
          // background COLOR_WHITE
          display: block;
          position: absolute;
          min-width: 200px;

          z-index: 1;
          // background-color lighten(COLOR_BACKGROUND, 20%)
          max-height 0
          padding 0
          overflow hidden
          opacity 0
          transition: all 200ms
          margin-left -18px
          padding: 13px 5px 13px 20px
          > li
            padding 3px 2px 3px 0
          &.submenu-open
            opacity 1
            max-height: 1000px
            // padding: 13px 5px 13px 20px
            > li
              // max-height: 200px