.site-branding
  .site-name
    lost-column 2/12
    // background-color green
    width 100%
    position relative
    z-index 2
    a, a:hover, a:visited, a:active
      font-size 35px
      line-height: 30px
      letter-spacing 0px
      font-weight: 600
