rupture.scale = 0 600px 900px 1200px
//              0 1     2     3
// Breakpoints
// See: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// for explanation of these breakpoints.