@font-face {
  font-family: 'Montserrat';
  url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

// font-family-main = 'Montserrat';
font-family-main = 'Helvetica';
font-main = font-family-main
body
body *
  line-height: 1.5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  // font-weight: 300;

html body
  main
  header
  footer
    *
      // font-family font-family-main

  // header
  // footer
  //   *
  //   font-weight: 400
  //   font-size 4vw
  //   +above(2)
  //     font-size 3vw
  //   +above(3)
  //     font-size 2vw


  header, footer
    *
      font-weight: 400
      letter-spacing: 1px

// .site-name
//   a, a:hover, a:visited, a:active
//     font-size 60px


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

article.content
  h1
    font-size 1.5rem
  h2
    font-size: 1.3rem;




body
  p
    margin 1em 0

a, a:link, a:visited
  // color inherit
  transition all 0.1s ease-in
  text-decoration: none

header
footer
  li a:hover
    text-decoration: none
    color lighten(COLOR_BLACK, 30%)


// // Menu link style.
// link-style-2()
//   Color = COLOR_WHITE
//   a, a:link, a:visited
//     color Color
//     font-size 2.7vw
//     border-bottom 0.75px solid rgba(Color, 0.0)
//     // transition border-color 0.2s ease-in
//     text-decoration: none
//     +above(2)
//       font-size 1.7vw
//     +above(3)
//       font-size 1.1vw
//   a:hover
//     text-decoration: none
//     // border-bottom 0.75px solid Color

.tabs
  link-style-2();

a.is-active
  text-decoration: underline

.text-formatted
  p
    margin 0


a
* a
ul a
li a
ul li a
ul.nice-menu-down li a
a:hover
a:visited
a:active
  color COLOR_DARK_BLACK
  text-decoration none
main a:hover
  // border-bottom 1px solid COLOR_DARK_BLACK

html .field__label // needs a wrapper to override field.css
  font-weight: 200
  font-style italic
  letter-spacing 1px
