textarea
  h3, h4
  margin 0
  + p
    margin-top 5px
  h3
    font-size 18px
  h4
    font-size 16px
  blockquote
    padding 0px 20px 0px 20px !important
    margin 0
    display block
    clear both
    overflow: auto
    p
      margin 0 !important
      padding 0 !important
      &:last-child
        float right
        margin-right -20px !important
      &:first-child
        float left
  p
    clear both
