@font-face {
  font-family: 'Montserrat';
  url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

// font-family-main = 'Montserrat';
font-family-main = 'Helvetica';
font-main = font-family-main

html body
  main
  header
  footer
    *
      font-family font-family-main

  header
  footer
    *
    font-weight: 400
    font-size 4vw
    +above(2)
      font-size 3vw
    +above(3)
      font-size 2vw


  header, footer
    *
      font-weight: 500

body
  p
    margin 1em 0

a, a:link, a:visited
  color inherit
  transition all 0.1s ease-in

header
footer
  li a:hover
    text-decoration: none
    color COLOR_GREY

main
  a, a:link, a:visited
    text-decoration: underline
  a:hover
    text-decoration: none
    color COLOR_GREY
  h1, h2, h3, h4, h5
    a, a:link, a:visited
      text-decoration: none


// Menu link style.
link-style-2()
  Color = COLOR_WHITE
  a, a:link, a:visited
    color Color
    font-size 2.7vw
    border-bottom 0.75px solid rgba(Color, 0.0)
    transition border-color 0.2s ease-in
    text-decoration: none
    +above(2)
      font-size 1.7vw
    +above(3)
      font-size 1.1vw
  a:hover
    text-decoration: none
    border-bottom 0.75px solid Color

.tabs
  link-style-2();

a.is-active
  text-decoration: underline